.faq__container {
  height: 724px;
  padding: 60px 20px;
  display: flex;
  gap: 40px;
}

.faq__title-group {
  flex: 1;
}

.faq__title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 40px;
}

.faq__text {
  margin-top: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.faq__accordion-item {
  border-bottom: 1px solid white;
}

.faq__accordion-button {
  display: flex;
  justify-content: space-between;
  padding-block: 18px;
  cursor: pointer;
  transition: all 0.3s;
}

@media (hover: hover) {
  .faq__accordion-button:hover .faq__question {
    color: var(--color-accent)
  }

  .faq__accordion-button:hover .faq__trigger svg path {
    fill: var(--color-accent);
  }
}

.faq__question {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.faq__trigger-open {
  display: none;
}

.faq__trigger-open.visible {
  display: block;
}

.faq__trigger-closed {
  display: none;
}

.faq__trigger-closed.visible {
  display: block;
}

.faq__answer {
  letter-spacing: 0.3px;
  line-height: 22px;
  padding-bottom: 18px;
  display: none;
}

.faq__answer.faq__answer_visible {
  display: block;
}