.footer__form {
  background-color: var(--color-white);
  color: var(--color-dark);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__form-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer__form-group {
  font-family: var(--font-heading);
  width: 100%;
  padding-block: 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.footer__form-input {
  height: 60px;
  width: 26.39%;
  border: 1px solid var(--color-dark);
  padding-inline: 10px;
  transition: all 0.5s;
}

.footer__form-input::placeholder {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.footer__form-button {
  height: 60px;
  width: 200px;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: var(--font-heading);
  text-transform: uppercase;
  background-color: var(--color-dark);
  color: var(--color-white);
  transition: all 0.5s;
}

.footer__contacts {
  display: flex;
  padding-block: 20px;
  justify-content: center;
  font-family: var(--font-heading);
  font-weight: 400;
}

.footer__contacts-item {
  padding-block: 18px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
  margin-inline: 20px;
}

@media (hover: hover) {
  .footer__form-button:hover {
    background-color: var(--color-accent);
  }

  .footer__form-input:hover {
    border: 1px solid var(--color-accent);
  }

  .footer__contacts-item:hover {
    color: var(--color-accent);
  }
}