.header-container {
  height: 60px;
  display: flex;
}

.header__logo {
  padding: 20px;
}

.header__nav {
  margin-left: auto;
}

.header__menu {
  display: flex;
  font-family: var(--font-heading);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
}

.header__menu-item {
  padding-inline: 20px;
  padding-block: 18px;
}

.header__menu-link {
  color: var(--color-white);
}