.header__container {
  height: 60px;
  display: flex;
}

.header__logo {
  padding: 20px;
}

.header__nav {
  margin-left: auto;
}

.header__menu {
  display: flex;
  font-family: var(--font-heading);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
}

.header__menu-item {
  padding-inline: 20px;
  padding-block: 18px;
}

.header__menu-link {
  color: var(--color-white);
  transition: color 0.3s;
}

.header__burger {
  display: none;
}

.header__burger-menu {
  display: none;
}

.burger__line-top {
  height: 2px;
  width: 12px;
  background-color: var(--color-white);
  transition: 0.5s;
}

.burger__line-bottom {
  height: 2px;
  width: 20px;
  background-color: var(--color-white);
  transition: 0.5s;
}

.burger__line-top--open {
  width: 20px;
  transform: translateY(4px) rotate(45deg);
}

.burger__line-bottom--open {
  transform: translateY(-4px) rotate(-45deg);
}

.header__burger-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__burger-link {
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-heading);
  line-height: 24px;
  transition: color 0.3s;
}


@media (hover: hover){
  .header__menu-link:hover {
    color: var(--color-accent);
  }

  .header__burger-link:hover {
    color: var(--color-accent);
  }
}

@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    gap: 6px;
    cursor: pointer;
  }

  .header__burger-menu {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    padding-top: 220px;
    z-index: 10;
    transform: translateX(110%);
    transition: 0.5s;
    opacity: 0;
  }

  .header__burger-menu--open {
    transform: translateX(0);
    opacity: 1;
  }
}