.hero__container {
  display: flex;
  gap: 20px;
  height: 862px;
}

.hero__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 60px;
  height: 100%;
  padding-block: 60px;
}

.hero__sidebar-text {
  font-weight: 500;
  font-size: 12px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.hero__sidebar-line {
  height: 536px;
  width: 1px;
  background-color: var(--color-white);
}

.hero__main {
  display: flex;
  gap: 40px;
  height: 100%;
  padding-inline: var(--container-padding-x);
  flex: 1;
}

.hero__banner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding-top: 160px;
  padding-bottom: 60px;
  width: 56.06%;
}

.hero__banner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__statistics-wrapper {
  display: flex;
  gap: 65px;
}

.hero__statistics {
  display: flex;
  gap: 8px;
}

.hero__statistics-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__statistics-number {
  font-family: var(--font-heading);
  font-weight: 300;
  line-height: 54px;
  font-size: 48px;
}

.hero__title {
  font-family: var(--font-heading);
  font-weight: 300;
  line-height: 132px;
  font-size: clamp(68px, 7.14vw + 13.2px, 116px);
  text-transform: uppercase;
}

.hero__tagline {
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  text-transform: uppercase;
}

.hero__scroll-down {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.hero__scroll-svg path {
  transition: stroke 0.3s;
}

.hero__small-photo {
  width: 16.67%;
  height: 220px;
  object-fit: cover;
  margin-block: auto;
}

.hero__photo-wrapper {
  display: flex;
  flex-direction: column;
  padding-block: 60px;
  justify-content: space-between;
  align-items: flex-end;
  width: 21.21%;
}

.hero__photo {
  width: 100%;
}

.hero__message {
  width: 220px;
  text-align: right;
  line-height: 24px;
}

@media (hover: hover) {
  .hero__scroll-down:hover {
    color: var(--color-accent);
  }

  .hero__scroll-down:hover .hero__scroll-svg path {
    stroke: var(--color-accent);
  }
}