.price__container {
  height: 736px;
  padding: 60px 20px;
}

.price__title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 40px;
}

.price__text {
  margin-top: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.price__cards-wrapper {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.price__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 500px;
  border: 1px solid var(--color-dark);
  padding: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

@media (hover: hover) {
  .price__card:hover {
    border: 1px solid var(--color-accent);
  }

  .price__card:hover .price__card-button {
    background-color: var(--color-accent);
  }
}

.price__card-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 0.6px;
  margin-top: 2px;
  margin-bottom: 15px;
}

.price__card-items li {
  position: relative;
  padding-left: 16px;
  margin-bottom: 8px;
}

.price__card-items li::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: currentColor;
}

.price__card-price {
  display: block;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  margin-left: 4px;
}

.price__card-details {
  margin-bottom: 15px;
  font-style: italic;
  letter-spacing: 0.6px;
}

.price__card-button {
  width: 272px;
  height: 60px;
  font-family: var(--font-heading);
  text-transform: uppercase;
  background-color: var(--color-dark);
  color: var(--color-white);
  transition: all 0.5s;
}